.gradle
.idea
build
gradle
amplicode.xml
order-platform.iml
untitled.iml
stock-service.iml
order-service/build
order-service/HELP.md
order-service/.gitattributes
order-service/.gitignore
order-service/gradle
payment-service/build
payment-service/HELP.md
payment-service/.gitattributes
payment-service/.gitignore
payment-service/gradle
stock-service/build
stock-service/HELP.md
stock-service/.gitattributes
stock-service/.gitignore
stock-service/gradle